DSA_HOST=
DSA_AUTH_TOKEN=
DSA_USERNAME=
DSA_PASSWORD=
KEYCLOAK_HOST=
KEYCLOAK_USER=
KEYCLOAK_PASSWORD=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT=
LOG_ENABLED=true
LOG_LEVEL=
APP_ID=broker
APP_PORT=8085
APP_HOST="0.0.0.0"